<%- include('includes/header') %>
<!-- header ends here -->

<div class="container py-md-5 container--narrow">
  <% if (messages.success) { %>
  <div class="alert alert-success"><%= messages.success %></div>
  <% } %> <% if (messages.error) { %>
  <div class="alert alert-danger"><%= messages.error %></div>
  <% } %>
  <!-- Rest of the form... -->

  <form action="/admin/create-client" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="post-name" class="text-muted mb-1"><small>Name</small></label>
      <input required name="name" id="post-name" class="form-control form-control-lg form-control-title" type="text" placeholder="Enter client name" autocomplete="off" />
    </div>

    <div class="form-group">
      <label for="post-company" class="text-muted mb-1"><small>company</small></label>
      <input required name="company" id="post-company" class="form-control form-control-lg form-control-title" type="text" placeholder="Enter company name" autocomplete="off" />
    </div>

    <div class="form-group">
      <label for="post-mobile" class="text-muted mb-1"><small>Mobile</small></label>
      <input required name="mobile" id="post-mobile" class="form-control form-control-lg form-control-title" type="tel" placeholder="Enter mobile number" autocomplete="off" />
    </div>

    <div class="form-group">
      <label for="post-email" class="text-muted mb-1"><small>Email</small></label>
      <input required name="email" id="post-email" class="form-control form-control-lg form-control-title" type="email" placeholder="Enter client email" autocomplete="off" />
    </div>

    <div class="form-group">
      <label for="post-URL" class="text-muted mb-1"><small>URL</small></label>
      <input required name="URL" id="post-URL" class="form-control form-control-lg form-control-title" type="text" placeholder="Enter gmb review URL" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="post-template" class="text-muted mb-1"><small>Choose a template</small></label>
      <select required id="post-template" name="template" class="form-control form-control-lg form-control-title">
        <% templates.forEach((template, index) => { %>
        <option value="<%= template %>"><%= template %></option>
        <% }); %>
      </select>
    </div>

    <div class="form-group">
      <label for="post-subscriptionType" class="text-muted mb-1"><small>Subscription Type</small></label>
      <select required name="subscriptionType" id="post-subscriptionType" class="form-control form-control-lg form-control-title">
        <option value="free">Free</option>
        <option value="trial">Trial</option>
        <option value="3 months">3 Months</option>
        <option value="6 months">6 Months</option>
        <option value="1 year">1 Year</option>
        <option value="3 years">3 Years</option>
      </select>
    </div>

    <div class="form-group">
      <label for="post-image" class="text-muted mb-1"><small>Upload Logo</small></label>
      <input required id="post-image" type="file" name="image" />
    </div>

    <!-- <div class="form-group">
        <label for="post-body" class="text-muted mb-1"><small>Body Content</small></label>
        <textarea required name="body" id="post-body" class="body-content tall-textarea form-control" type="text"></textarea>
      </div> -->

    <button class="btn btn-primary">Create Client</button>
  </form>
</div>

<!-- footer begins -->
<%- include('includes/footer') %>
